<div class="main">
  <div class="body">
    <h1>Introduction</h1>
    <p>Our company is a Multi-National Company specialized in crafting latest Mobile Apps, Software Applications, Web Applications and also in extending services like Digital Marketing, Quality Testing, Content Development, SEO and many more.
   	</p>
    <hr>
    <h1>Our team members</h1>
    <div class="row">
   	  <div class="column">
   	    <img src="1.jpg" alt="no image" width="290" height="250"><p align="center">CEO</p>
   	  </div>
   	  <div class="column">
   	    <img src="2.jpg" alt="no image" width="290" height="250"><p align="center">Project manager</p>
   	  </div>
   	  <div class="column">
   	    <img src="3.jpg" alt="no image" height="250" width="290"><p align="center">HR</p>
   	  </div>
   	  <div class="column">
   	    <img src="tm.jpg" alt="no image" height="250" width="290">
   	  </div>  
   	  <p align="center">Desginers and Developers</p>
   	  <hr>
   	  <div class="feedback" align="center">
   	    <h1 align="center">Your feedback</h1>
		    <input type="Email" placeholder="Email"><br><br>
        <textarea rows="8" cols="60" style="border-radius: 20px"  placeholder ="Enter text here...."></textarea>
    	  <br><br>
   	    <button class="button">Send</button>
   	  </div>
   	</div> 
  </div>
</div>

   				
