<div class="userdetails">
<h3>Enter your Username and password and click button</h3>
<form class="userform">
  <input type="text" name="uname" placeholder="Enter your username...." id="input1" ><br><br>
  <input type="password" name="pwd" placeholder="Enter your password...." id="input2"><br><br>
  <button onclick="reg()">click</button>
</form>
</div>