body{
  margin:0;
  padding:0;
}
.header h1{
  background-color:black;
  color:white;
  padding:20px;
  margin:0;
  text-decoration: none;
}
.topnav{
  background-color:#16A085;
  color:white;
  text-align:left;
  padding:10px;
  display:block;
}
.topnav a{
  text-decoration: none;
}
.topnav a:hover{
  background-color: black;
  color:white;
  padding:11px;

}
.topnav a.active{
  color:white;
  background-color: black;
  padding: 11px; 
}
.body{
  background: url("new.jpg");
  background-repeat:cover;
  padding:10px 0 10px 5px;
  margin: 0;
}
.body h1{
  font-style: sans-serif;
  font-size: 50px;
}
.body p{
  font-style:sans-serif;
  font-size: 40px;
}
.column{
  float: left;
  width:23.3%;
  padding: 5px;
}
.row::after{
  content:"";
  clear:both;
  display:table;
}
.feedback{
  padding:0 0 50px 0;
}
.feedback input{
  height: 30px;
  width: 400px;
}
footer{
  background:black;
  color:white;
  padding:5px;
  margin: 0;
}